<div>
    <img src="../../assets/images/cbanner.jpeg" alt=""  width="1519">
    <h1>Welcome to Coralwood</h1>
    <div class="row" >

        
        <div class="card" style="width: 45.5rem;">
            <img class="card-img-top" src="../../../assets/images/c1.jpg" alt="Card image cap">
            <div class="card-body">
            </div>
        </div>
        <div class="card" style="width: 45.5rem;">
            <img class="card-img-top" src="../../../assets/images/c2.jpg" alt="Card image cap">
            <div class="card-body">
            </div>
        </div>
        
        <div class="card" style="width: 45.5rem;">
            <img class="card-img-top" src="../../../assets/images/c3.jpg" alt="Card image cap">
            <div class="card-body">
            </div>
        </div>
        <div class="card" style="width: 45.5rem;">
            <img class="card-img-top" src="../../../assets/images/c4.jpg" alt="Card image cap">
            <div class="card-body">
            </div>
        </div>
        <div class="card" style="width: 45.5rem;">
            <img class="card-img-top" src="../../../assets/images/c8.jpg" alt="Card image cap">
            <div class="card-body">
            </div>
        </div>
        <div class="card" style="width: 45.5rem;">
            <img class="card-img-top" src="../../../assets/images/c6.jpg" alt="Card image cap">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="spec">
        <img src="../../assets/images/cfeatures.jpeg" alt=""  width="1519">
    </div>

</div>


