

<div class="row">
    <div class="column" >
        <h1>Bramh Developers</h1>
        <h5>A Real Estate Enterprise providing  a Luxaries Lifestyle.</h5>
        <a ><i class="bi bi-clock"></i>Monday-Sunday 10:00 Am to 7:00pm</a>
        <br>
        <br>
        <p>Site visits available on Sundays</p>
        <a href=""><i class="bi bi-arrow-up-circle-fill"></i></a>
    </div>
    <div class="column" >
        <h1>Our Projects </h1>
        <div class="images mkdf-grid-col-2" id="footercards">
            <img src="../../../assets/images/coralwoods.jpg" alt="" width="90" height="60">
            <img src="../../../assets/images/sudha.jpg" alt="" width="90" height="60">
            <img src="../../../assets/images/J11.jpg" alt="" width="90" height="60">
        </div>
    </div>
    <div class="column" >
        <h1>Our Office</h1>
        <a><i class="bi bi-geo-alt-fill"></i>1st,
            Floor Muley Market, Near Nagendra Dairy, Ukhdi Road , Jabalpur,
            482001.</a>
            <br>
            <br>
        <a><i class="bi bi-telephone-fill"></i>+91 7666
            939393 , +91 9300088834</a>
        <br>
        <br>

        <a><i class="bi bi-envelope-fill"></i> Janakpuri@gmail.com </a>
    </div>
  </div>

  <div class="copyright">
    <p> &#169; 2022 All Rights Reserved. BRAMH DEVELOPERS </p>
  </div>