<div class="container">
</div>


<div class="row">
    <h1>About Us</h1>     

    <div class="column">
        <h4>Bramh Developers</h4>
        <p>"Building Enriching Environments for a Better Tomorrow."</p>
        <p>The Bramh Developer is a real estate company with a simple but profound vision: "enriching humanity". This
            sentiment is a central philosophy that guides all aspects of the company's operations, from project planning
            to partnerships with like-minded entities. The ultimate goal of enriching humanity is always kept in mind.
            With a commitment to a balanced approach to business, Bramh Developer has become one of the fastest growing
            realty groups in the Mahakaushal region, creating enriching environments for customers, citizens, and the
            community at large, regardless of the size or significance of its projects.
        </p>
    </div>
    <div class="column">
        <img src="../../../assets/images/home.png" alt="">
    </div>
</div>
<div>
    <div class="wpb_wrapper">
        <h1 style="color: #194baf;">AFFILIATED BANKS</h1>
    </div>

    <div id="services">
        <div class="container">
            <div class="services-list">
                <div>
                    <img src="../../../assets/images/hdfc-1.png" alt="" width="350" height="250">


                </div>
                <div>
                    <img src="../../../assets/images/union.png" alt="" width="350" height="250">

                </div>
                <div>
                    <img src="../../../assets/images/punjab.png" alt="" width="350" height="250">

                </div>
            </div>
            <div class="services-list">
                <div>
                    <img src="../../../assets/images/sbi-1.png" alt="" width="350" height="250">

                </div>
                <div>
                    <img src="../../../assets/images/lic.png" alt="" width="350" height="250">

                </div>
                <div>
                    <img src="../../../assets/images/central.png" alt="" width="350" height="250">

                </div>
            </div>
        </div>
    </div>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3666.7870730102613!2d79.85341131492284!3d23.21442918485626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3981b188220b716d%3A0x5dcc8d4ff619ec16!2sCoralwood!5e0!3m2!1sen!2sin!4v1677776691217!5m2!1sen!2sin" width="900" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>