<div class="container-fluid">


<nav >
  <div class="Nav">
    <div class="row">
      <!--  -->
      <div class="column">
        <!-- <img class="logo" src="../../../assets/images/logo.jpg" alt="logo" height="60px" width="70px"> -->
        <a href="" ><img class="logo" src="../../../assets/images/logo.jpg" alt="logo" height="60px" width="70px"></a>
        
        

      </div>
    </div>



  </div>

  <div class="header">
    <h1>Bramh Developers</h1>
    
    <!-- <div class="belowlogo">

      <img src="../../../assets/images/logobelow.png" alt=""  height="60px" width="70px" >
    </div> -->
  </div>
  
  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="about">About</a></li>
    <li><a routerLink="ourproject">OurProject</a></li>
    <li><a routerLink="contact">ContactUs</a></li>
  </ul>


</nav>
</div>