* {
    padding: 0;
    margin: 0;
  }
  
  h1{
    font-size: bold;
    color: white;
  }
  body {
    font-family: Arial, Tahoma, Serif;
    color: white;
  }
  nav {
    display: flex; /* 1 */
    justify-content: space-between; /* 2 */
    padding: 1rem 2rem; /* 3 */
    background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  
  nav ul {
    display: flex; /* 5 */
    list-style: none; /* 6 */
    padding-top: 10px;
    font-size: 20px;
  }
  
  nav li {
    padding-left: 3rem; /* 7! */
    text-align: right;
  }
  nav a {
    text-decoration: none;
    color: white;
    padding: 3erpm;
    font-family: "Lucida Console", "Courier New", monospace;

  }

  

  
  nav{
    color: white
    background-color
    ;
  }

  .column{
    float: right;
   margin-top: 8px;
   padding: 5px;
   
  }

  svg{
    color: white;
  }
   

  .header h1{
    text-align: center;
    padding-left: 300px;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
}

.header h1:hover{
  color:#dbf4ff;
  transform: scale(1.1);
}

.header h1 a{
  align-items: center;
  padding-left: 300px;
  padding-right: 200px;
  text-align: center;
}


 li a{
  text-decoration: none;
  

}
 li a:hover{
text-decoration: underline overline;
color: rgb(5, 53, 83);
}