<body>

    <ul>
        <h1>Welcome to Janakpuri</h1>
    </ul>

    <img src="../../assets/images/layout.jpeg" alt="" width="1510" height="240">

    <div class="card">
        <video width="810" height="20" controls>
            <source src="../../assets/images/animatedvideo.mp4" type="video/mp4">
        </video>

    </div>
    <br>

    <div class="row" >

        
        <div class="card" style="width: 45.5rem;">
            <img class="card-img-top" src="../../../assets/images/j1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">JanakpuriTownship </h5>
            </div>
        </div>
        <div class="card" style="width: 45.5rem;">
            <img class="card-img-top" src="../../../assets/images/j2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">JanakpuriTownship </h5>
            </div>
        </div>
        <div class="card" style="width: 45.5rem;">
            <img class="card-img-top" src="../../../assets/images/j3.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">JanakpuriTownship </h5>
            </div>
        </div>
        <div class="card" style="width: 45.5rem;">
            <img class="card-img-top" src="../../../assets/images/j4.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">JanakpuriTownship </h5>
            </div>
        </div>
        
    </div>
    <!-- features here -->
    <h2>Our Specialities</h2>
    <img src="../../assets/images/jnkfeatures.jpeg" alt=""  width="1510" height="240" >

</body>