<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/images/coralwoods.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/c1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/c6.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<br>
<br>

<!-- new section here -->


<div class="container">

  <h1>FEATURED <span>PROPERTIES</span></h1>

  <br>
  <br>

  <!-- Cards here -->
  <div class="row">

    <div class="card" style="width: 26rem;">
      <img class="card-img-top" src="../../../assets/images/c6.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Coralwood Township </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="Coralwoodmore" class="btn btn-primary">View more </a>
      </div>
    </div>

    <div class="card" style="width: 26rem;">
      <img class="card-img-top" src="../../../assets/images/J11.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Janakpuri Township</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="janakpurimore" class="btn btn-primary">View more</a>
      </div>
    </div>

    <div class="card" style="width: 26rem;">
      <img class="card-img-top" src="../../../assets/images/sudha.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sudha Sagar Vihar</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#"  class="btn btn-primary">View more</a>
      </div>
    </div>

  </div>

  <br>
  <br>

</div>

<!-- new section starts here -->

<div class="container">

  <h2>SERVICES <span>WE OFFER</span></h2>

  <br>
  <br>

  <!-- Cards here -->
  <div class="row" id="cards">

    <div class="card" style="width: 16rem;">
      <img class="card-img-top" src="../../../assets/images/serv1.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Real Estate </h5>
      </div>
    </div>

    <div class="card" style="width: 16rem;">
      <img class="card-img-top" src="../../../assets/images/serv2.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Buy Land/ Rent  </h5>
      </div>
    </div>

    <div class="card" style="width: 16rem;">
      <img class="card-img-top" src="../../../assets/images/serv3.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> Applicable Loans </h5>
      </div>
    </div>

  </div>

  <br>
  <br>

</div>
<hr>

<!-- Testimonial section here -->

<div class="container">

  <h2>What Client say <span>About Us</span></h2>
</div>

<br>
<br>

<!-- Carousel wrapper -->


<div id="carouselExampleControls" class="carousel slide text-center carousel-dark" data-mdb-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="rounded-circle shadow-1-strong mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
        alt="avatar" style="width: 150px;" />
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h5 class="mb-3">Suresh Gupta </h5>
          <p>Photographer</p>
          <p class="text-muted">
            <i class="fas fa-quote-left pe-2"></i>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
            nesciunt sint eligendi reprehenderit reiciendis, quibusdam illo, beatae quia
            fugit consequatur laudantium velit magnam error. Consectetur distinctio fugit
            doloremque.
          </p>
        </div>
      </div>

    </div>
    <div class="carousel-item">
      <img class="rounded-circle shadow-1-strong mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"
        alt="avatar" style="width: 150px;" />
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h5 class="mb-3">Ramesh Sahu</h5>
          <p>Web Developer</p>
          <p class="text-muted">
            <i class="fas fa-quote-left pe-2"></i>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
            nesciunt sint eligendi reprehenderit reiciendis.
          </p>
        </div>
      </div>

    </div>
    <div class="carousel-item">
      <img class="rounded-circle shadow-1-strong mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
        alt="avatar" style="width: 150px;" />
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h5 class="mb-3">Sheetal soni</h5>
          <p>UX Designer</p>
          <p class="text-muted">
            <i class="fas fa-quote-left pe-2"></i>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
            nesciunt sint eligendi reprehenderit reiciendis, quibusdam illo, beatae quia
            fugit consequatur laudantium velit magnam error. Consectetur distinctio fugit
            doloremque.
          </p>
        </div>
      </div>

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<hr>
<br>

<!-- videos here -->
<div class="container">

  <h1>FEATURED <span>Videos</span></h1>

  <br>
  <br>

  <div class="row">

    

    <div class="card" style="width: 26rem;">
      <video width="320" height="240" controls>
        <source src="../../../assets/images/bagha.mp4" type="video/mp4">
      </video>
      <div class="card-body">
        <h5 class="card-title">Sudha Sagar Vihar</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card" style="width: 26rem;">
      <video width="320" height="240" controls>
        <source src="../../../assets/images/Anjali.mp4" type="video/mp4">
      </video>
      <div class="card-body">
        <h5 class="card-title">Sudha Sagar Vihar</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card" style="width: 26rem;">
      <video width="320" height="240" controls>
        <source src="../../../assets/images/cid.mp4" type="video/mp4">
      </video>
      <div class="card-body">
        <h5 class="card-title">Sudha Sagar Vihar</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>

  </div>

  <br>
  <br>



  <!-- About section starts here -->

  <section>
    <div class="container">

      <h2> About<span> Bramh Developer</span></h2>
    </div>
    <BR>
    <BR>
    <div class="INFO">

      <p>
        
        Every Enterprise Begins With A Vision. For The Bramh Developer, The Vision Was As Simple As It Was 
        Profound The Vision Was 'enriching Humanity. It Was A Sentiment That Was Deeply Felt And 
        Meticulously Practiced By The Promoters As The Philosophy Passed On From Person To Person Enriching 
        Humanity Soon Become A Way Of Life And A Matter CH Practice At All Levels From Planning A Project To
        Tying Up With Like-minded Entities To Planning The Execution) Of The Projects, The Ultimate
        Objective Of Enriching Humanity Remained Top Of The Mind For All At Bromh Developer. 
        .Principle That Has Inspired The Group To Think Big And Extend Its Operations Farther Than 
        Its Native Domain. Today, As A Professionally Managed, Quality Conscious And People-centric 
        Company That's Spreading Its Presence Across Many New And Upcoming Locations Across Jobalpur 
        And In Mahakoushal Region Area, The Bramh Developer Has Been Driven By A Single Mission. 
        To Create Enriching Environments For Its Customers Citizens And Community At Large, 
        No Matter What The Scole Or Significance Of Its Projects It Is This Commitment To Pursue 
        A Balanced Approach To Business, Which Has Mads Bramh Developer One Of The Fastest 
        Growing Realty Groups With Lakhs Of Sqft Of Developed Property On A Mahakaushal Canvas.. 
        <a href="about">Read more</a>

      </p>
    </div>
  </section>